{% extends 'layouts/app.html.twig' %}

{% block title %}Teams {{ year }}{% endblock %}

{% block additionalTitle %}
    <p class="text-3xl">Season {{ year }}</p>
{% endblock %}

{% block content %}
    <twig:Box>
        <table class="w-full text-left mx-8 mt-4">
            <thead>
            <tr class="border-b-2">
                <th>Position</th>
                <th>Name</th>
                <th>Played</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Draw</th>
                <th>Goal Difference</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr class="border-b-2">
                    <td>{{ team.position }}</td>
                    <td class="flex gap-2 items-center">
                        <img src="{{ team.team.getLogo() }}" alt="{{ team.team.getName() }}" class="w-4 h-4">
                        <a class="text-blue-500 hover:text-blue-800" href="{{ path('team_details', {year: year, teamId: team.team.getId()}) }}">{{ team.team.getName() }}</a>
                    </td>
                    <td>{{ team.getStatistic().played }}</td>
                    <td>{{ team.getStatistic().won }}</td>
                    <td>{{ team.getStatistic().lost }}</td>
                    <td>{{ team.getStatistic().draw }}</td>
                    <td>{{ team.getStatistic().goalDifference }}</td>
                    <td>{{ team.getStatistic().points }}</td>
                    {% if year == 'now'|date('Y') - 1 %}
                        <td>
                        {% if app.user not in team.team.getUsers() %}
                            <a class="px-5 bg-sky-600 hover:bg-sky-700 rounded-lg text-sm text-white" href="{{ path('team_user', {follow: 'true', teamId: team.id}) }}">Follow</a>
                        {% else %}
                            <a class="px-3 bg-red-400 hover:bg-red-500 rounded-lg text-sm text-white" href="{{ path('team_user', {follow: 'false', teamId: team.id}) }}">Unfollow</a>
                        {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </twig:Box>

    {% if latestGames != 'not available' %}
        <twig:Box>
            <p class="text-3xl">Followed teams</p>
            <table class="w-full mx-8">
                <thead>
                <tr class="border-b-2">
                    <th class="text-left">Match</th>
                    <th>Status</th>
                    <th>Score</th>
                    <th>Date</th>
                    <th>Referee</th>
                </tr>
                </thead>
                <tbody>
                {% for game in latestGames %}
                    <tr class="border-b-2 border-spacing-4">
                        <td class="flex flex-col gap-2 my-4">
                            <div class="flex gap-1 items-center">
                                <img src="{{ game.getHomeTeam().getLogo() }}" alt="{{ game.getHomeTeam().getName() }}" class="w-4 h-4"> {{ game.getHomeTeam().getName() }}
                            </div>
                            <div class="flex gap-1 items-center">
                                <img src="{{ game.getGuestTeam().getLogo() }}" alt="{{ game.getGuestTeam().getName() }}" class="w-4 h-4"> {{ game.getGuestTeam().getName() }}
                            </div>
                        </td>
                        <td class="text-center">{{ game.status }}</td>
                        <td class="text-center">
                            <div class="flex flex-col gap-2 my-4 items-center justify-center">
                                <div>
                                    {{ game.getScore.getHomeScore() }}
                                </div>
                                <div>
                                    {{ game.getScore().getGuestScore() }}
                                </div>
                            </div>
                        </td>
                        <td class="text-center">{{ game.date |date('d-m-Y') }}</td>
                        <td class="text-center">{{ game.getReferee().getName() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </twig:Box>
    {% endif %}
{% endblock %}
